@charset "UTF-8";

/* General Styles */
* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
	width: 100%;
    height: 100%;
	position: relative;
    background-image: url("../images/carbon_bg.gif");
    background-size: 4px;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Header */

header {
    height: 10%;
    width: 100%;
    background-color: #1e1e1e;
    position: absolute;
    top: 0;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
    display: none;
}

.logo {
    height: 150%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10%;
}

/* Main Frame */

main {
	width: 100%;
    max-width: 1024px;
    max-height: 100vw;
    height: 65%;
	position: absolute;
    overflow: hidden;
    display: none;
}

/* Footer */

footer {
    height: 15%;
    width: 100%;
    background-color: #1e1e1e;
    position: absolute;
    bottom: 0;
    display: none;
    overflow: hidden;
}

.timerBox{
    margin: auto;
    color: white;
    font-size: 250%;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
    width: 50%;
    height: 50%;
}
.heatBar{
    margin: auto;
    color: white;
    font-size: 150%;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
    width: 50%;
    height: 50%;
}


/* Hexagon shit */
.module {
	width: 33.33%;
	height: 33.33%;
	position: absolute;
	display: inline-block;
    visibility: hidden;
}
/*styles in game hex start here*/
.inGame{
    width: 75.33%;
	height: 75.33%;
	position: absolute;
    left: 12%;
    display: inline-block;
    visibility: hidden;
}
/*in game hex styles end here */

.hexagon {
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	width: 200%;
	height: 100%;
    left: -50%;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon.inner {
    width: 100%;
    height: 84%;
    left: 0;
    top: 8%;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	visibility: visible;
    background-color: #0f0f0f;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.inner .hexagon-in2 {
    background-color: #1e1e1e;
}

.module:nth-child(1) {
    left: 33.33%;
}
.module:nth-child(2) {
    left: 4.4%;
    top: 16.7%;
}

.module:nth-child(3) {
    right: 4.4%;
    top: 16.7%;
}
.module:nth-child(4) {
    left: 33.3%;
    top: 33.3%;
}
.module:nth-child(5) {
    left: 4.4%;
    bottom: 16.7%;
}
.module:nth-child(6) {
    right: 4.4%;
    bottom: 16.7%;
}
.module:nth-child(7) {
    left: 33.33%;
    bottom: 0;
}

.gauge-fill {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#backbutton {
    height: 150%;
    margin: 0 auto;
    display: block;
    position: relative;
    top:-40%;
    left:35%;
    visibility: hidden;
}

/*minigauges shit*/

#mini {
    display: none;
}

#mini .hexagon-in2 {
    background-color: #ffffff;
}    

#mini .module:nth-child(1) {
    left: -5%;
    bottom:-10%;
}
#mini .module:nth-child(2) {
    left: 10%;
    bottom: -19%;
}
#mini .module:nth-child(3) {
    left: 25%;
    bottom: -10%;
}
#mini .module:nth-child(4) {
    left: 39.5%;
    bottom: -19%;
}
#mini .module:nth-child(5) {
    left: 54.3%;
    bottom: -10%;
}
#mini .module:nth-child(6) {
    left: 69%;
    bottom: -19%;
}
    
/* Menu CSS */
.menulogo {
    height: 40%;
    margin: 0 auto;
    display: block;
    padding-bottom: 7%;
}

.menuItem {
    height: 20%;
    margin: 0 auto;
    display: block;
    position: relative;
    border-radius: 5%;
    margin-top: 5%;
}

.menu {
    width: 100%;
    max-width: 1024px;
    max-height: 100vw;
    height: 65%;
    display: block;
    margin: 0 auto;
    margin-top: 1%;
}

/* Icons for hexagons */
.icon {
    position: absolute;
    display: none;
    overflow:hidden;
    left: 30%;
    height:100%;
}

/* Dummy box game CSS */
.boxGame {
    text-align: center;
    height: 60%;
    width: 30%;
    position: absolute;
    display: none;
    left: 35%;
    top: 20%;
    color: white;
    overflow: hidden;
}
.box {
    background-color: red;
    height: 100%;
    width: 30%;
    display: inline-block;
    margin-right: 2%;
}
.box:nth-child(3) {
    background-color: blue;
}
.box:nth-child(4) {
    background-color: green;
}

/* Dummy number game CSS */
.mathGame {
    text-align: center;
    width: 35%;
    height: 30%;
    position: absolute;
    display: none;
    left: 31%;
    top: 20%;
    color: white;
}

.mathOption {
    height: 90%;
    width: 30%;
    margin-left: 3%;
    margin-top: 5%;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: gray;
    color: white;
}

.mathOption h1 {
    margin-top: 35%;
}

/* Screen size handling */
@media only screen and (max-width: 900px) {
    .mathOption {
        margin-left: 5%;
        width: 15%;
    }
    .mathOption h1 {
        margin-top: 15%;
    }
    .box {
        width: 20%;
    }
    .boxGame {
        height: 70%;
        font-size: 75%
    }
}
    
/* tablet / mobile */
@media only screen and (max-width: 1024px) {
    
}

/* mobile only */
@media only screen and (max-width: 480px) {

}