@charset "UTF-8";

/* General Styles */
* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

body {
	width: 100%;
    height: 100%;
	position: relative;
    background-image: url("../images/carbon_bg.gif");
    background-size: 4px;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 9001;
    background-color: rgba(0,0,0,0.9);
    position: relative;
}

/* Header */

header {
    height: 10%;
    width: 100%;
    background-color: #1e1e1e;
    position: absolute;
    top: 0;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
    display: none;
}

.logo {
    height: 150%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10%;
}

/* Main Frame */

main {
	width: 100%;
    max-width: 1024px;
    max-height: 100vw;
    height: 65%;
	position: absolute;
}

/* Footer */

footer {
    height: 15%;
    width: 100%;
    background-color: #1e1e1e;
    position: absolute;
    bottom: 0;
    display: none;
    overflow: hidden;
}

/* End Game Screen */

.endGame {
    width: 100%;
    max-width: 1024px;
    padding-top: 25vh;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.namePrompt {
    display: block;
}

/* Hexagon */
.module {
	width: 38.66%;
	height: 33.33%;
	position: absolute;
}

main > .module {
    display: none;
}

/*styles in game hex start here*/
#inGame{
  width: 88%;
    height: 75%;
    position: relative;
  display: none;
  margin: 0 auto;
}
/*in game hex styles end here */

.hexagon {
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	width: 200%;
	height: 100%;
    left: -50%;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}

.hexagon.inner {
    width: 100%;
    height: 84%;
    left: 0;
    top: 8%;
}

.hexagon-in1 {
	overflow: hidden;
    visibility: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	visibility: visible;
    background-color: #0f0f0f;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.inner .hexagon-in2 {
    background-color: #1e1e1e;
}

main > .module:nth-child(1) {
    left: 30.9%;
}

main > .module:nth-child(2) {
    left: 2%;
    top: 16.7%;
}

main > .module:nth-child(3) {
    right: 2%;
    top: 16.7%;
}

main > .module:nth-child(4) {
    left: 30.9%;
    top: 33.3%;
}

main > .module:nth-child(5) {
    left: 2%;
    bottom: 16.7%;
}

main > .module:nth-child(6) {
    right: 2%;
    bottom: 16.7%;
}

main > .module:nth-child(7) {
    left: 30.9%;
    bottom: 0;
}

.gauge-fill {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#backbutton {
    width: 17.5%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 900;
    display: none;
}

/*minigauges*/

#mini {
    display: none;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
}

#mini .module {
    width: 16.5%;
    height: 70%;
}

#mini .module:nth-child(1) {
    left: 0;
    top: 0;
}
#mini .module:nth-child(2) {
    left: 16.6%;
    bottom: 0;
}
#mini .module:nth-child(3) {
    left: 33.3%;
    top: 0;
}
#mini .module:nth-child(4) {
    right: 33.3%;
    bottom: 0;
}
#mini .module:nth-child(5) {
    right: 16.6%;
    top: 0;
}
#mini .module:nth-child(6) {
    right: 0;
    bottom: 0;
}


#timerBox{
    vertical-align: top;
    margin: auto;
    color: white;
    font-size: 6vh;
    text-align: center;
    width: 50%;
    height: 46%;
    border-radius: 25px;
    border: 2px solid white;
}


#heatMeter {
    margin: auto;
    color: white;
    font-size: 100%;
    height: 42%;
    width: 50%;
    border: 2px solid white;
    margin-top: 1px;
    border-radius: 25px;
    overflow: hidden;
    background-image: linear-gradient(to right, transparent, transparent 50%, green 50%, green 100%);
    background-size: 200% 100%;
    background-position: 0 0;
    transition: background-position 100ms linear;
}

/* Menu CSS */
.menulogo {
    height: 40%;
    margin: 0 auto;
    display: block;
    padding-bottom: 7%;
}

.menuItem {
    height: 20%;
    margin: 0 auto;
    display: block;
    position: relative;
    border-radius: 5%;
    margin-top: 5%;
    cursor: pointer;
}

/* LeaderBoard */

.leaderBoard {
    display: none;
}

.leaderBoard h1 {
    text-align: center;
    margin-bottom: 2vw;
}

#leaderList {
    list-style: none;
    width: 100%;
    font-size: 200%;
    overflow-y: auto;
}

#leaderList span {
    display: inline-block;
    vertical-align: top;
}

.lbRank {
    width: 25%;
}

.lbName {
    width: 35%;
}

.lbTime {
    text-align: right;
    width: 35%;
}

/* Icons for hexagons */
.icon {
    position: absolute;
    height: 100%;
    left: 32%;
    display: none;
    cursor: pointer;
}

/* Dummy box game CSS */
#boxGame {
    text-align: center;
    height: 60%;
    width: 30%;
    position: absolute;
    display: none;
    left: 35%;
    top: 20%;
}
.box {
    background-color: red;
    height: 100%;
    width: 30%;
    display: inline-block;
    margin-right: 2%;
}
.box:nth-child(3) {
    background-color: blue;
}
.box:nth-child(4) {
    background-color: green;
}

/* Dummy number game CSS */
#mathGame {
    text-align: center;
    width: 35%;
    height: 30%;
    position: absolute;
    display: none;
    left: 31%;
    top: 20%;
}

.mathOption {
    height: 90%;
    width: 30%;
    margin-left: 3%;
    margin-top: 5%;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: gray;
    color: white;
}

.mathOption h1 {
    margin-top: 35%;
}

.mathOption {
    margin-left: 5%;
    width: 15%;
}

.mathOption h1 {
    margin-top: 15%;
}

.box {
    width: 20%;
}

.boxGame {
    height: 70%;
    font-size: 75%
}

    
/* tablet / mobile */
@media only screen and (max-width: 1024px) {
    
}

/* mobile only */
@media only screen and (max-width: 480px) {
    #leaderList {
        font-size: 5vw;
    }

}
